[Unit]
Description=blackberry - OBD based vehicle black box
Requires=

[Service]
User=blackberry
Type=forking
ExecStart=...

[Install]
WantedBy=multi-user.target