{
  "bluetooth": {
    "autodiscover": true,
    "pin": 1123,
    "tetheringDevices": [
      "2C:44:01:CF:73:FE"
    ]
  },
  "data": {
    "capture_interval": 0.3,
    "enabled_collectors": [
      "blackberry.components.TestDataCollector.TestDataCollector"
    ],
    "collector_configuration": {
      "Obd": {
      	"sensors": [
      		"RPM",
            "COOLANT_TEMP",
            "FUEL_STATUS",
            "FUEL_PRESSURE",
            "INTAKE_PRESSURE",
            "INTAKE_TEMP",
            "SPEED",
            "INTAKE_TEMP",
            "THROTTLE_POS",
            "FUEL_LEVEL",
            "BAROMETRIC_PRESSURE",
            "EVAP_VAPOR_PRESSURE",
            "AMBIANT_AIR_TEMP",
            "OIL_TEMP",
            "FUEL_RATE"
      	],
      	"baudrate": 38400,
      	"port": "COM4"
      }
    },
    "storage_backend": "blackberry.data.MongoBackend.MongoBackend",
    "local_db": {
      "collection": "trips",
      "db": "mongodb://blackberry:blackberry@localhost/blackberry"
    },
    "remote_db": {
      "collection": "trips",
      "db": "mongodb://user:pass@hostname:port/db"
    }
  },
  "gpio": {
    "vAcc": 19,
    "vBatt": 13,
    "vAccIndicator": 12,
    "CollectDataIndicator": 16
  }
}
