[Unit]
Description=blackberry - OBD based vehicle black box
Requires=

[Service]
User=blackberry
Type=forking
ExecStart=/usr/local/bin/blackberry -c /etc/blackberry/config.json -l /var/log/blackberry.log -p /run/blackberry.pid

[Install]
WantedBy=multi-user.target