[Unit]
Description=blackberry - OBD based vehicle black box
Requires=mongodb.service

[Service]
User=root
Type=forking
ExecStart=/usr/bin/blackberry -c /etc/blackberry/config.json -l /var/log/blackberry.log -p /run/blackberry.pid

[Install]
WantedBy=multi-user.target